/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */

.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('flags.png') no-repeat;
}


.flag.flag-bih {
    background-position: 0 -32px;
}

.flag.flag-cod {
    background-position: -128px -64px;
}

.flag.flag-lca {
    background-position: -416px -224px;
}

.flag.flag-tjk {
    background-position: -96px -416px;
}

.flag.flag-aia {
    background-position: -128px 0;
}

.flag.flag-plw {
    background-position: -128px -352px;
}

.flag.flag-guy {
    background-position: -288px -160px;
}

.flag.flag-gha {
    background-position: -416px -128px;
}

.flag.flag-ner {
    background-position: 0 -320px;
}

.flag.flag-swz {
    background-position: -416px -384px;
}

.flag.flag-tto {
    background-position: -288px -416px;
}

.flag.flag-nor {
    background-position: -128px -320px;
}

.flag.flag-tuv {
    background-position: -320px -416px;
}

.flag.flag-brb {
    background-position: -32px -32px;
}

.flag.flag-svk {
    background-position: -128px -384px;
}

.flag.flag-geo {
    background-position: -320px -128px;
}

.flag.flag-slv {
    background-position: -352px -384px;
}

.flag.flag-glp {
    background-position: -96px -160px;
}

.flag.flag-aze {
    background-position: -448px 0;
}

.flag.flag-asm {
    background-position: -320px 0;
}

.flag.flag-vat {
    background-position: -96px -448px;
}

.flag.flag-irl {
    background-position: -32px -192px;
}

.flag.flag-lao {
    background-position: -352px -224px;
}

.flag.flag-lka {
    background-position: 0 -256px;
}

.flag.flag-ury {
    background-position: -32px -448px;
}

.flag.flag-svn {
    background-position: -96px -384px;
}

.flag.flag-dma {
    background-position: -224px -96px;
}

.flag.flag-pol {
    background-position: 0 -352px;
}

.flag.flag-irq {
    background-position: -192px -192px;
}

.flag.flag-blz {
    background-position: -64px -64px;
}

.flag.flag-abw {
    background-position: -416px 0;
}

.flag.flag-sgp {
    background-position: -64px -384px;
}

.flag.flag-slb {
    background-position: -416px -352px;
}

.flag.flag-dza {
    background-position: -288px -96px;
}

.flag.flag-kaz {
    background-position: -320px -224px;
}

.flag.flag-nga {
    background-position: -32px -320px;
}

.flag.flag-hti {
    background-position: -416px -160px;
}

.flag.flag-fsm {
    background-position: -128px -128px;
}

.flag.flag-idn {
    background-position: 0 -192px;
}

.flag.flag-twn {
    background-position: -352px -416px;
}

.flag.flag-grd {
    background-position: -288px -128px;
}

.flag.flag-mar {
    background-position: -224px -256px;
}

.flag.flag-nam {
    background-position: -416px -288px;
}

.flag.flag-qat {
    background-position: -192px -352px;
}

.flag.flag-and {
    background-position: 0 0;
}

.flag.flag-mkd {
    background-position: -416px -256px;
}

.flag.flag-chl {
    background-position: -320px -64px;
}

.flag.flag-kwt {
    background-position: -256px -224px;
}

.flag.flag-smr {
    background-position: -192px -384px;
}

.flag.flag-can {
    background-position: -96px -64px;
}

.flag.flag-are {
    background-position: -32px 0;
}

.flag.flag-vgb {
    background-position: -192px -448px;
}

.flag.flag-sle {
    background-position: -160px -384px;
}

.flag.flag-mlt {
    background-position: -192px -288px;
}

.flag.flag-ven {
    background-position: -160px -448px;
}

.flag.flag-tls {
    background-position: -128px -416px;
}

.flag.flag-atg {
    background-position: -96px 0;
}

.flag.flag-tcd {
    background-position: 0 -416px;
}

.flag.flag-moz {
    background-position: -384px -288px;
}

.flag.flag-rou {
    background-position: -256px -352px;
}

.flag.flag-gtm {
    background-position: -192px -160px;
}

.flag.flag-phl {
    background-position: -416px -320px;
}

.flag.flag-ggy {
    background-position: -384px -128px;
}

.flag.flag-ncl {
    background-position: -448px -288px;
}

.flag.flag-prt {
    background-position: -96px -352px;
}

.flag.flag-arg {
    background-position: -288px 0;
}

.flag.flag-bwa {
    background-position: 0 -64px;
}

.flag.flag-bfa {
    background-position: -128px -32px;
}

.flag.flag-bol {
    background-position: -352px -32px;
}

.flag.flag-aus {
    background-position: -384px 0;
}

.flag.flag-grl {
    background-position: 0 -160px;
}

.flag.flag-dnk {
    background-position: -192px -96px;
}

.flag.flag-fro {
    background-position: -160px -128px;
}

.flag.flag-usa {
    background-position: 0 -448px;
}

.flag.flag-nld {
    background-position: -96px -320px;
}

.flag.flag-gab {
    background-position: -224px -128px;
}

.flag.flag-omn {
    background-position: -256px -320px;
}

.flag.flag-ton {
    background-position: -224px -416px;
}

.flag.flag-jpn {
    background-position: -448px -192px;
}

.flag.flag-nzl {
    background-position: -224px -320px;
}

.flag.flag-aut {
    background-position: -352px 0;
}

.flag.flag-npl {
    background-position: -160px -320px;
}

.flag.flag-lby {
    background-position: -192px -256px;
}

.flag.flag-isl {
    background-position: -256px -192px;
}

.flag.flag-mda {
    background-position: -288px -256px;
}

.flag.flag-tha {
    background-position: -64px -416px;
}

.flag.flag-cym {
    background-position: -288px -224px;
}

.flag.flag-kgz {
    background-position: -32px -224px;
}

.flag.flag-bdi {
    background-position: -224px -32px;
}

.flag.flag-lva {
    background-position: -160px -256px;
}

.flag.flag-fji {
    background-position: -96px -128px;
}

.flag.flag-afg {
    background-position: -64px 0;
}

.flag.flag-cze {
    background-position: -96px -96px;
}

.flag.flag-mne {
    background-position: -320px -256px;
}

.flag.flag-esh {
    background-position: -416px -96px;
}

.flag.flag-ben {
    background-position: -256px -32px;
}

.flag.flag-mrt {
    background-position: -128px -288px;
}

.flag.flag-an {
    background-position: -224px 0;
}

.flag.flag-deu {
    background-position: -128px -96px;
}

.flag.flag-mhl {
    background-position: -384px -256px;
}

.flag.flag-imn {
    background-position: -128px -192px;
}

.flag.flag-tun {
    background-position: -192px -416px;
}

.flag.flag-lso {
    background-position: -64px -256px;
}

.flag.flag-eri {
    background-position: -448px -96px;
}

.flag.flag-uga {
    background-position: -448px -416px;
}

.flag.flag-png {
    background-position: -384px -320px;
}

.flag.flag-tza {
    background-position: -384px -416px;
}

.flag.flag-mwi {
    background-position: -288px -288px;
}

.flag.flag-vir {
    background-position: -224px -448px;
}

.flag.flag-pyf {
    background-position: -352px -320px;
}

.flag.flag-jey {
    background-position: -352px -192px;
}

.flag.flag-fin {
    background-position: -64px -128px;
}

.flag.flag-zwe {
    background-position: -448px -448px;
}

.flag.flag-mac {
    background-position: -64px -288px;
}

.flag.flag-est {
    background-position: -352px -96px;
}

.flag.flag-gum {
    background-position: -224px -160px;
}

.flag.flag-bra {
    background-position: -384px -32px;
}

.flag.flag-hnd {
    background-position: -352px -160px;
}

.flag.flag-cmr {
    background-position: -352px -64px;
}

.flag.flag-btn {
    background-position: -448px -32px;
}

.flag.flag-ecu {
    background-position: -320px -96px;
}

.flag.flag-ago {
    background-position: -256px 0;
}

.flag.flag-ukr {
    background-position: -416px -416px;
}

.flag.flag-com {
    background-position: -128px -224px;
}

.flag.flag-syr {
    background-position: -384px -384px;
}

.flag.flag-lbr {
    background-position: -32px -256px;
}

.flag.flag-mdg {
    background-position: -352px -256px;
}

.flag.flag-jor {
    background-position: -416px -192px;
}

.flag.flag-bgd {
    background-position: -64px -32px;
}

.flag.flag-tgo {
    background-position: -32px -416px;
}

.flag.flag-tkm {
    background-position: -160px -416px;
}

.flag.flag-bhr {
    background-position: -192px -32px;
}

.flag.flag-vnm {
    background-position: -256px -448px;
}

.flag.flag-ken {
    background-position: 0 -224px;
}

.flag.flag-chn {
    background-position: -384px -64px;
}

.flag.flag-pse {
    background-position: -64px -352px;
}

.flag.flag-hrv {
    background-position: -384px -160px;
}

.flag.flag-mco {
    background-position: -256px -256px;
}

.flag.flag-kna {
    background-position: -160px -224px;
}

.flag.flag-rwa {
    background-position: -352px -352px;
}

.flag.flag-mli {
    background-position: -448px -256px;
}

.flag.flag-gmb {
    background-position: -32px -160px;
}

.flag.flag-pak {
    background-position: -448px -320px;
}

.flag.flag-mdv {
    background-position: -256px -288px;
}

.flag.flag-grc {
    background-position: -160px -160px;
}

.flag.flag-ind {
    background-position: -160px -192px;
}

.flag.flag-gnb {
    background-position: -256px -160px;
}

.flag.flag-cok {
    background-position: -288px -64px;
}

.flag.flag-fra {
    background-position: -192px -128px;
}

.flag.flag-sau {
    background-position: -384px -352px;
}

.flag.flag-zaf {
    background-position: -384px -448px;
}

.flag.flag-mex {
    background-position: -320px -288px;
}

.flag.flag-ita {
    background-position: -288px -192px;
}

.flag.flag-col {
    background-position: -416px -64px;
}

.flag.flag-tca {
    background-position: -448px -384px;
}

.flag.flag-swe {
    background-position: -224px -384px;
}

.flag.flag-mng {
    background-position: -32px -288px;
}

.flag.flag-msr {
    background-position: -160px -288px;
}

.flag.flag-gib {
    background-position: -448px -128px;
}

.flag.flag-alb {
    background-position: -160px 0;
}

.flag.flag-pry {
    background-position: -160px -352px;
}

.flag.flag-civ {
    background-position: -256px -64px;
}

.flag.flag-caf {
    background-position: -160px -64px;
}

.flag.flag-yem {
    background-position: -352px -448px;
}

.flag.flag-irn {
    background-position: -224px -192px;
}

.flag.flag-zmb {
    background-position: -416px -448px;
}

.flag.flag-vut {
    background-position: -288px -448px;
}

.flag.flag-ltu {
    background-position: -96px -256px;
}

.flag.flag-pan {
    background-position: -288px -320px;
}

.flag.flag-isr {
    background-position: -64px -192px;
}

.flag.flag-kir {
    background-position: -96px -224px;
}

.flag.flag-rus {
    background-position: -320px -352px;
}

.flag.flag-eth {
    background-position: -32px -128px;
}

.flag.flag-mmr {
    background-position: 0 -288px;
}

.flag.flag-egy {
    background-position: -384px -96px;
}

.flag.flag-prk {
    background-position: -192px -224px;
}

.flag.flag-gnq {
    background-position: -128px -160px;
}

.flag.flag-lie {
    background-position: -448px -224px;
}

.flag.flag-nru {
    background-position: -192px -320px;
}

.flag.flag-cub {
    background-position: 0 -96px;
}

.flag.flag-bhs {
    background-position: -416px -32px;
}

.flag.flag-kor {
    background-position: -224px -224px;
}

.flag.flag-hun {
    background-position: -448px -160px;
}

.flag.flag-arm {
    background-position: -192px 0;
}

.flag.flag-tur {
    background-position: -256px -416px;
}

.flag.flag-brn {
    background-position: -320px -32px;
}

.flag.flag-bel {
    background-position: -96px -32px;
}

.flag.flag-syc {
    background-position: -448px -352px;
}

.flag.flag-mys {
    background-position: -352px -288px;
}

.flag.flag-lux {
    background-position: -128px -256px;
}

.flag.flag-stp {
    background-position: -320px -384px;
}

.flag.flag-esp {
    background-position: 0 -128px;
}

.flag.flag-wsm {
    background-position: -320px -448px;
}

.flag.flag-sdn {
    background-position: 0 -384px;
}

.flag.flag-vct {
    background-position: -128px -448px;
}

.flag.flag-reu {
    background-position: -224px -352px;
}

.flag.flag-uzb {
    background-position: -64px -448px;
}

.flag.flag-swe {
    background-position: -32px -384px;
}

.flag.flag-srb {
    background-position: -288px -352px;
}

.flag.flag-mtq {
    background-position: -96px -288px;
}

.flag.flag-dom {
    background-position: -256px -96px;
}

.flag.flag-hkg {
    background-position: -320px -160px;
}

.flag.flag-cog {
    background-position: -192px -64px;
}

.flag.flag-che {
    background-position: -224px -64px;
}

.flag.flag-cyp {
    background-position: -64px -96px;
}

.flag.flag-cpv {
    background-position: -32px -96px;
}

.flag.flag-pri {
    background-position: -32px -352px;
}

.flag.flag-dji {
    background-position: -160px -96px;
}

.flag.flag-blr {
    background-position: -32px -64px;
}

.flag.flag-khm {
    background-position: -64px -224px;
}

.flag.flag-lbn {
    background-position: -384px -224px;
}

.flag.flag-gin {
    background-position: -64px -160px;
}

.flag.flag-mus {
    background-position: -224px -288px;
}

.flag.flag-per {
    background-position: -320px -320px;
}

.flag.flag-cri {
    background-position: -448px -64px;
}

.flag.flag-gbr {
    background-position: -256px -128px;
}

.flag.flag-som {
    background-position: -256px -384px;
}

.flag.flag-bgr {
    background-position: -160px -32px;
}

.flag.flag-nic {
    background-position: -64px -320px;
}

.flag.flag-sur {
    background-position: -288px -384px;
}

.flag.flag-bmu {
    background-position: -288px -32px;
}

.flag.flag-jam {
    background-position: -384px -192px;
}
