/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: Spark Portal
   ========================================================================== */
/*
 * These are the custom styles for the latest spark portal
 * Media queries can be found further down the file
 * This will need minifying prior to going live
 */
@font-face {
  font-family: "Liberation Sans";
  src: url("../fonts/LiberationSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
body {
  position: relative;
  font-family: "Liberation Sans";
  letter-spacing: 1px; }

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #0071bb; }

header {
  position: relative;
  text-align: center;
  background-color: #0071bb;
  padding: 2rem 0; }
  header img {
    width: 180px;
    float: right; }
  header .container {
    max-width: 500px;
    padding-right: 0; }
    header .container h3 {
      margin: 0;
      color: #fff;
      text-align: left;
      line-height: 1.1; }

a {
  color: #185d6c; }
  a:hover {
    color: #185d6c;
    text-decoration: none; }

#free_sub_form {
  margin-top: 1em; }

/* Navbar hacks */
.navbar {
  border: 1px solid transparent;
  margin-bottom: 0;
  min-height: 0px;
  position: relative; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }

.navbar-toggle {
  z-index: 10000000;
  margin-top: 14px;
  margin-right: 0;
  background: #000;
  border-radius: 15px;
  position: absolute;
  right: 15px; }
  .navbar-toggle .icon-bar {
    background: #fff none repeat scroll 0 0; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #000;
  text-decoration: underline; }

/* Navbar hacks end */
/* Accordian hacks */
#mobile-slider {
  height: 250px;
  z-index: -1; }

#spark-box-start .accordion-toggle {
  display: none; }
#spark-box-start .collapse {
  display: block; }

.panel-default > .panel-heading {
  color: #fff;
  background-color: transparent;
  border: none;
  padding-top: 0; }
  .panel-default > .panel-heading a {
    color: #2d2926; }
.panel-default > .panel-body form {
  margin-top: 2rem; }
.panel-default > .panel-body p {
  font-size: 14px; }
  .panel-default > .panel-body p a {
    text-decoration: underline;
    color: #2d2926; }

.breadcrumb {
  background-color: transparent;
  border-radius: 4px;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 4px 15px 12px;
  border-bottom: 1px solid #0071bb;
  border-radius: 0; }

.panel {
  background: transparent;
  border-color: transparent;
  border: 0 none; }

.list-group-item {
  margin-bottom: 1em; }

.badge {
  display: none; }

.panel-group {
  margin-bottom: 0; }

.panel-title > a {
  color: #fff; }

/* Accordian hacks end */
#spark-box-start {
  margin-top: 0em;
  box-shadow: none;
  width: 90%;
  margin: auto; }

.panel-body {
  padding: 4px 0 0; }
  .panel-body p {
    margin-bottom: 15px; }

.has-feedback .form-control-feedback {
  top: 31px; }

#strap {
  text-align: right;
  color: #fff;
  margin-top: 1em;
  font-size: 20px;
  font-weight: bold; }

#spark_inner {
  padding: 0; }

a#free_sub,
button#proceed {
  color: #fff;
  text-align: center;
  padding: 1.2em;
  border: 0 none;
  background: #208e60;
  /* Old browsers */
  font-size: 18px; }

a#free_sub:hover {
  background: #0071bb;
  text-decoration: none !important;
  display: block;
  margin: 16px auto;
  font-size: 20px;
  padding: 16px;
  font-weight: bold;
  border-radius: 0;
  border: 1px solid #fff;
  width: 90%;
  line-height: 1; }

button#proceed {
  background: #0071bb;
  text-decoration: none !important;
  display: block;
  margin: 16px auto;
  font-size: 20px;
  padding: 16px;
  font-weight: bold;
  border-radius: 0;
  border: 1px solid #fff;
  width: 90%;
  line-height: 1; }
  button#proceed:hover {
    background: #0071bb;
    text-decoration: none !important;
    display: block;
    margin: 16px auto;
    font-size: 20px;
    padding: 16px;
    font-weight: bold;
    border-radius: 0;
    border: 1px solid #fff;
    width: 90%;
    line-height: 1; }

.register {
  background: #0071bb;
  text-decoration: none !important;
  display: block;
  margin: 16px auto;
  font-size: 20px;
  padding: 16px;
  font-weight: bold;
  border-radius: 0;
  border: 1px solid #fff;
  width: 90%;
  line-height: 1;
  margin-top: 16px; }
  .register:hover {
    background: #0071bb;
    text-decoration: none !important;
    display: block;
    margin: 16px auto;
    font-size: 20px;
    padding: 16px;
    font-weight: bold;
    border-radius: 0;
    border: 1px solid #fff;
    width: 90%;
    line-height: 1; }

a#home {
  display: none; }

.breadcrumb > li {
  display: block;
  margin: 0 auto; }
.breadcrumb h1 {
  text-align: center;
  margin: 0;
  font-size: 12px;
  color: #2d2926; }

p {
  text-align: center;
  margin: 0;
  font-size: 12px;
  color: #2d2926; }

.breadcrumb h1 {
  font-size: 32px;
  text-transform: uppercase; }
  .breadcrumb h1 span {
    color: #0071bb;
    font-style: italic;
    font-weight: bold; }
.breadcrumb > li + li::before {
  color: #ccc;
  content: "";
  padding: 0; }

.footer {
  background: none !important;
  margin: auto;
  padding-left: 0 !important;
  position: relative;
  max-width: 500px; }
  .footer img {
    margin-top: 16px; }

.form-control {
  height: 45px;
  -moz-box-shadow: 1px 2px 5px #888 inset;
  -webkit-box-shadow: 1px 2px 5px #888 inset;
  box-shadow: 1px 2px 5px #888 inset;
  border-radius: 0;
  font-size: 18px; }

a#spark-logo {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 1em; }
  a#spark-logo img {
    display: block;
    margin: 0 auto; }
a#fujitsu-logo {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  color: #000; }
  a#fujitsu-logo img {
    display: block;
    margin: 0 auto; }

.big-modal {
  background: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999999999;
  display: none;
  overflow: auto; }
  .big-modal h1 {
    margin-top: 2em;
    color: #002b00;
    font-size: 30px; }

h2 {
  color: #002b00;
  font-size: 30px; }

.big-modal h3 {
  font-size: 23px;
  color: #002b00; }
.big-modal p {
  color: #002b00;
  font-size: 18px;
  padding: 0;
  text-align: left; }

li {
  color: #002b00;
  font-size: 18px;
  padding: 0;
  text-align: left; }

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1em;
  margin-top: 1em; }

.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 12px; }

.content,
#spark_form {
  max-width: 500px;
  background-color: #f9f9f9;
  padding: 15px;
  padding-bottom: 0; }

.banner {
  margin-top: 2vh; }

.content a {
  color: #fff;
  text-decoration: underline; }
  .content a:hover {
    color: #fff;
    text-decoration: underline; }

.wifi_support {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll; }
  .wifi_support .inner {
    max-width: 500px;
    margin: auto;
    position: relative; }
    .wifi_support .inner p {
      background: #f7f7f7;
      padding: 10px;
      width: 25%;
      font-size: 14px;
      float: right;
      letter-spacing: 0px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
  .wifi_support::-webkit-scrollbar {
    display: none; }
  .wifi_support:hover {
    cursor: pointer; }
  .wifi_support > p {
    text-align: center !important; }
  .wifi_support p,
  .wifi_support li {
    color: #2d2926;
    font-size: 16px;
    text-align: left; }
  .wifi_support a {
    text-decoration: underline;
    color: #626262; }
  .wifi_support i {
    font-size: 32px;
    transform: rotate(180deg);
    position: absolute;
    right: 9px; }
    .wifi_support i:first-of-type {
      top: 0; }
  .wifi_support .body {
    display: none;
    width: 100%;
    background: #f7f7f7; }
    .wifi_support .body.populated {
      padding: 15px;
      display: inline-block !important; }

.language {
  max-width: 400px;
  text-align: right; }
  .language .bfh-selectbox-toggle {
    box-shadow: none;
    border: none; }

.languagepicker {
  position: relative;
  margin-right: 15px; }
  .languagepicker li:not([class*="selected"]) {
    display: none; }
  .languagepicker li.selected {
    position: relative; }
    .languagepicker li.selected:before {
      content: "\f103";
      font: normal normal normal 20px/1 FontAwesome;
      position: absolute;
      right: -20px;
      top: 25%; }
    .languagepicker li.selected:hover {
      cursor: pointer; }
  .languagepicker li:not(.selected) {
    list-style: none;
    position: absolute;
    right: 0;
    background: #fff;
    border-radius: 4px; }
    .languagepicker li:not(.selected) div:hover {
      cursor: pointer; }

.friendlywifi {
  margin-top: 2rem; }

.spinner-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1100; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1101; }

#termsModal {
  overflow-y: scroll; }
  #termsModal::-webkit-scrollbar {
    display: none; }

.modal-dialog {
  width: 90%;
  margin: 5% auto; }

.modal-content {
  background-color: #f7f7f7;
  color: #626262; }
  .modal-content p,
  .modal-content h4 {
    color: #626262; }
  .modal-content a {
    color: #626262;
    text-decoration: underline; }

.btn-success {
  background-color: #0071bb;
  border-color: #0071bb; }
  .btn-success:hover {
    background-color: #0071bb;
    border-color: #0071bb; }

@media (min-width: 768px) {
  body {
    background: transparent; }

  .form-control {
    height: 45px;
    -moz-box-shadow: 1px 2px 5px #888 inset;
    -webkit-box-shadow: 1px 2px 5px #888 inset;
    box-shadow: 1px 2px 5px #888 inset;
    border-radius: 0;
    font-size: 14px; }

  .vegas-slide,
  .vegas-slide-inner {
    position: fixed; }

  .breadcrumb h1 {
    font-size: 42px;
    color: #2d2926; }

  a#spark-logo {
    padding: 0;
    color: #fff;
    text-align: center; }
  a#fujitsu-logo {
    text-align: center;
    color: #fff; } }
@media (min-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 18px;
    font-weight: bold; } }
@media (max-width: 1024px) {
  header img {
    margin: auto;
    width: 137px; } }
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
   /* Black prints faster:
  http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
    *:before, *:after {
      background: transparent !important;
      color: #000 !important;
   /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
      box-shadow: none !important;
      text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

 /*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

 /*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
@media screen and (max-width: 414px) {
  body {
    margin-bottom: 76px; }

  .breadcrumb h1 {
    font-size: 36px; }
    .breadcrumb h1 span {
      font-size: 33px; }

  header {
    background-color: #0071bb;
    padding: 2rem 0; }
    header .container {
      padding-right: 15px; }

  .banner {
    margin-top: 0; }

  button#proceed {
    border: none; }

  .panel-body {
    padding: 0 8px; }
    .panel-body p {
      margin-bottom: 8px; }

  .content,
  #spark_form {
    border-radius: 0;
    border-bottom: 0; }

  .wifi_support {
    overflow-y: scroll; }
    .wifi_support p,
    .wifi_support li {
      font-size: 11px; }
    .wifi_support .inner p {
      width: 35%; }

  #spark-box-start {
    width: 100%; }

  .languagepicker li.selected:before {
    right: auto;
    left: -20px; }

  .footer {
    padding-left: 15px !important; } }
@media screen and (max-width: 320px) {
  header .container h3 {
    font-size: 18px; }

  .breadcrumb h1 {
    font-size: 32px; }

  .wifi_support .inner p {
    width: 40%; }

  .panel-body br {
    display: none; } }

/*# sourceMappingURL=main.css.map */
