<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=M4oXjg34qg">
<link rel="icon" type="image/png" href="/icons/favicon-32x32.png?v=M4oXjg34qg" sizes="32x32">
<link rel="icon" type="image/png" href="/icons/favicon-16x16.png?v=M4oXjg34qg" sizes="16x16">
<link rel="manifest" href="/icons/manifest.json?v=M4oXjg34qg">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=M4oXjg34qg" color="#5bbad5">
<link rel="shortcut icon" href="/icons/favicon.ico?v=M4oXjg34qg">
<meta name="apple-mobile-web-app-title" content="WiFiSPARK">
<meta name="application-name" content="WiFiSPARK">
<meta name="msapplication-config" content="/icons/browserconfig.xml?v=M4oXjg34qg">
<meta name="theme-color" content="#ffffff">
